* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #3f3f41;
  color: #fff;

  h1 {
    font-size: 80px;
    margin-bottom: 2rem;
  }
}